<div>
  <label><%= form.label :email, t('feedback.email')%></label><br />
  <%= form.text_field :email %>
</div>

<div>
  <label><%= form.label :subject, t('feedback.subject')%></label><br />
  <%= form.text_field :subject %>
</div>

<div>
  <label><%= form.label :content, t('feedback.content')%></label><br />
  <%= form.text_area :content %>
</div>


