<% content_for :javascript do %>

<%end%>

<div>
  <div><%= form.label :email, t('feedback.email')%></div>
  <%= form.text_field :email %>
</div>

<div>
  <div><%= form.label :subject, t('feedback.subject')%></div>
  <%= form.text_field :subject %>
</div>

<div>
  <div><%= form.label :content, t('feedback.content')%></div>
  <%= form.text_area :content %>
</div>


