<% content_for :javascript do %>

<%end%>

<div>
  <%= form.label :email, t('feedback.email')%><br />
  <%= form.text_field :email %>
</div>

<div>
  <%= form.label :subject, t('feedback.subject')%><br />
  <%= form.text_field :subject %>
</div>

<div>
  <%= form.label :content, t('feedback.content')%><br />
  <%= form.text_area :content %>
</div>


