<p>
  <label><%= form.label :email, t('feedback.email')%></label><br />
  <%= form.text_field :email %>
</p>

<p>
  <label><%= form.label :subject, t('feedback.subject')%></label><br />
  <%= form.text_field :subject %>
</p>

<p>
  <label><%= form.label :content, t('feedback.content')%></label><br />
  <%= form.text_area :content %>
</p>


