<% content_for :item_on_header do %>
  <%=render :partial=> "uris/new"%>
<% end %>

<div id="stats" class="left span-23 last">
	<%= notification_area %>

        <p class="intro"><%= link_to 'OpenID Observatory', root_path %> is part of a research study supported by the <%= link_to 'Telematic Engineering Department (DIT)', 'http://www.dit.upm.es/' %> at the <%= link_to 'Universidad Politécnica de Madrid (UPM)', 'http://www.upm.es/' %>, 
        meant to make a survey of the usage of <%= link_to 'OpenID', 'http://openid.net/' %>. Here you can find statistics
        covering from the most used OpenID's providers to the web standards that can be used along with your <%= link_to 'OpenID', 'http://openid.net/' %>.
         You can partipate in our study by entering your <%= link_to 'OpenID', 'http://openid.net' %> above.</p>

		<div class="span-23 last">
		  <h2 id="stats_registered">OpenIDs already checked: <span><%= Uri.count %></span></h2>
		</div>
		
		<% graphs(:title => nil,:append=>"&chma=30,30,30,30",:bg_color=>"f0f0f0",:chart_color => "f0f0f0" ).each do |g| %>

	  <%=render :partial=> "graphic_item",:locals=> {:g=>g}%>
	<%end%>
</div>
