<% content_for :javascript do %>
  $('#gallery').galleryView({
  panel_width: 550,
  panel_height: 260,
	frame_width: 80,          //INT - width of filmstrip frames (in pixels)
  frame_height: 60,         //INT - width of filmstrip frames (in pixels)
	transition_interval: 30000,
	overlay_position: 'bottom',
  nav_theme: 'light'
  });

<% end %>

      <div id="left" class="span-10">
        <h1 class="type">Explore now all</h1>
        <h1 class="type">the information</h1>
        <h1 class="type">associated to your</h1>
        <h1 class="type"><%= image_tag "openid_logo.png", :alt => "OpenID" %></h1>
      </div>
  
      <div id="right" class="span-14 last">
        <div class="total_checked"><span><%= Uri.count %> OpenID's already checked</span></div>
        <div class="charts_wrapper">
          <ul id="gallery">
          	<li>
          	  <% 
							results = {
							  "FoaF" => Uri.foaf(true).count * 100.0 / Uri.count,
							  "Atom" => Uri.atom(true).count * 100.0 / Uri.count,
							  "RSS" => Uri.rss(true).count * 100.0 / Uri.count,
							  "RSD" => Uri.rsd(true).count * 100.0 / Uri.count,
							  "Microformats" => Uri.microformats("_").count * 100.0 / Uri.count,
							  "AtomPub" => Uri.atompub(true).count * 100.0 / Uri.count,
							  "XRDS" => Uri.xrds_service_type("http").count * 100.0 / Uri.count
							}
							%>
							<%= image_tag Gchart.bar(
                         :data => results.values,
                         :axis_with_labels => "x,y",
                         :axis_labels => [ results.keys, (0..4).map{ |n| n * 25 } ],
                         :max_value => 100,
                         :bar_width_and_spacing => { :width => 50, :spacing => 23 },
                         :bg_type => "gradient",
                         :bg_angle => 90,
                         :bg_color => "ffffff,0,ffffff,1",
                         :chart_color => "fefefe",
                         :new_markers => "N,000000,0,-1,11",
                         :size => '550x260'
                          )+ "&chma=30,0,30,90",:title=>"uno"%>
							 <div class="panel-overlay">
							    <h2>Meta Technologies (%)</h2>
							    <p>Photo by <a href="http://www.sxc.hu/profile/emsago" target="_blank">emsago</a>.
							    View full-size photo <a href="http://www.sxc.hu/photo/152865" target="_blank">here</a>.</p>
							 </div>
          	</li>
            <li>
							<% results = { "only v1, v1.1" => Uri.openid_version(:only_1).count,
							                "only v2" => Uri.openid_version(:only_2).count,
							                "both" => Uri.openid_version(:both).count } %>
							
							<%= image_tag Gchart.pie(
							                         :data => results.values,
							                         :legend => results.keys,
							                         :size => '550x260')+ "&chma=30,0,30,90" %>
					              <div class="panel-overlay">
                  <h2>Distribution of OpenID versions</h2>
                  <p>Photo by <a href="http://www.sxc.hu/profile/emsago" target="_blank">emsago</a>.
                  View full-size photo <a href="http://www.sxc.hu/photo/152865" target="_blank">here</a>.</p>
               </div>
            </li>
            <li>
							<% 
							results = {
							  "HTML" => Uri.html_discovery(:any).count * 100.0 / Uri.count,
							  "XRDS" => Uri.xrds_discovery(:any).count * 100.0 / Uri.count
							}
							%>
							
							
							<%= image_tag Gchart.bar(
							                         :data => results.values,
							                         :axis_with_labels => "x,y",
							                         :axis_labels => [ results.keys, (0..4).map{ |n| n * 25 } ],
							                         :max_value => 100,
							                         :bar_width_and_spacing => { :width => 50, :spacing => 30 },
							                         :size => '550x260')+ "&chma=30,0,30,90"
							%>
					              <div class="panel-overlay">
                  <h2>OpenID Discovery Technologies</h2>
                  <p>Photo by <a href="http://www.sxc.hu/profile/emsago" target="_blank">emsago</a>.
                  View full-size photo <a href="http://www.sxc.hu/photo/152865" target="_blank">here</a>.</p>
               </div>
            </li>
            <li>
            	               <% 
              results = {
                "FoaF" => Uri.foaf(true).count * 100.0 / Uri.count,
                "Atom" => Uri.atom(true).count * 100.0 / Uri.count,
                "RSS" => Uri.rss(true).count * 100.0 / Uri.count,
                "RSD" => Uri.rsd(true).count * 100.0 / Uri.count,
                "Microformats" => Uri.microformats("_").count * 100.0 / Uri.count,
                "AtomPub" => Uri.atompub(true).count * 100.0 / Uri.count,
                "XRDS" => Uri.xrds_service_type("http").count * 100.0 / Uri.count
              }
              %>
							         <%= image_tag Gchart.bar(
                         :data => results.values,
                         :axis_with_labels => "x,y",
                         :axis_labels => [ results.keys, (0..4).map{ |n| n * 25 } ],
                         :max_value => 100,
                         :bar_width_and_spacing => { :width => 50, :spacing => 23 },
                         :bg_type => "gradient",
                         :bg_angle => 90,
                         :bg_color => "ffffff,0,ffffff,1",
                         :chart_color => "fefefe",
                         :new_markers => "N,000000,0,-1,11",
                         :size => '550x260')+ "&chma=30,0,30,90",:title=>"cuatro"
          %>               <div class="panel-overlay">
                  <h2>Meta Technologies (%)</h2>
                  <p>Photo by <a href="http://www.sxc.hu/profile/emsago" target="_blank">emsago</a>.
                  View full-size photo <a href="http://www.sxc.hu/photo/152865" target="_blank">here</a>.</p>
               </div>
            </li>
						<li>
              <% results = { "only v1, v1.1" => Uri.openid_version(:only_1).count,
                              "only v2" => Uri.openid_version(:only_2).count,
                              "both" => Uri.openid_version(:both).count } %>
              
              <%= image_tag Gchart.pie(
                                       :data => results.values,
                                       :legend => results.keys,
                                       :size => '550x260')+ "&chma=30,0,30,90" %>
                        <div class="panel-overlay">
                  <h2>Distribution of OpenID versions</h2>
                  <p>Photo by <a href="http://www.sxc.hu/profile/emsago" target="_blank">emsago</a>.
                  View full-size photo <a href="http://www.sxc.hu/photo/152865" target="_blank">here</a>.</p>
               </div>
            </li>
						<li>
              <% results = { "only v1, v1.1" => Uri.openid_version(:only_1).count,
                              "only v2" => Uri.openid_version(:only_2).count,
                              "both" => Uri.openid_version(:both).count } %>
              
              <%= image_tag Gchart.pie(
                                       :data => results.values,
                                       :legend => results.keys,
                                       :size => '550x260')+ "&chma=30,0,30,90" %>
                        <div class="panel-overlay">
                  <h2>Distribution of OpenID versions</h2>
                  <p>Photo by <a href="http://www.sxc.hu/profile/emsago" target="_blank">emsago</a>.
                  View full-size photo <a href="http://www.sxc.hu/photo/152865" target="_blank">here</a>.</p>
               </div>
            </li>
						<li>
              <% results = { "only v1, v1.1" => Uri.openid_version(:only_1).count,
                              "only v2" => Uri.openid_version(:only_2).count,
                              "both" => Uri.openid_version(:both).count } %>
              
              <%= image_tag Gchart.pie(
                                       :data => results.values,
                                       :legend => results.keys,
                                       :size => '550x260')+ "&chma=30,0,30,90" %>
                        <div class="panel-overlay">
                  <h2>Distribution of OpenID versions</h2>
                  <p>Photo by <a href="http://www.sxc.hu/profile/emsago" target="_blank">emsago</a>.
                  View full-size photo <a href="http://www.sxc.hu/photo/152865" target="_blank">here</a>.</p>
               </div>
            </li>
          </ul>
					

          <!-- una linea para la grafica :bg_color => "729a24,0,99cc33,1",-->
        </div>
      </div>
      
      <div id="down" class="span-24 last">
				<%= notification_area %>
				<div class="fancy_input">
						<% form_for @uri || Uri.new do |f| %>
						  <%= f.error_messages %>
						  <%= f.text_field :uri, :class=>"input_text" %>
						  <%= f.submit 'Go!',:class=>"input_text_button" %>
						<% end -%>
            <span>Check yours!</span>
				</div>
      </div>
