<% content_for :javascript do %>
  $('#gallery').galleryView({
  panel_width: 546,
  panel_height: 260,
	frame_width: 80,          //INT - width of filmstrip frames (in pixels)
  frame_height: 60,         //INT - width of filmstrip frames (in pixels)
	transition_interval: 30000,
	overlay_position: 'bottom',
  nav_theme: 'light'
  });

<% end %>

      <div id="left" class="span-10">
        <h2 class="type">Explore now all</h2>
        <h2 class="type">the information</h2>
        <h2 class="type">associated to your</h2>
        <h2 class="type"><%= image_tag "openid_logo.png", :alt => "OpenID" %></h2>
      </div>
  
      <div id="right" class="span-14 last">
        <div class="charts_wrapper">
          <ul id="gallery">
            <% graphs(:title => nil ).each do |g| %>
            <li>
            <%= image_tag g[:image], :title => g[:title] %>
            <div class="panel-overlay">
              <h2><%= g[:title] %></h2>
              <p><%= g[:description] %></p>
            </div>
            </li>
            <% end -%>
          </ul>
					

          <!-- una linea para la grafica :bg_color => "729a24,0,99cc33,1",-->
        </div>
      </div>
      
      <div id="down" class="span-24 last">
				<%= notification_area %>
				<div class="fancy_input">
						<% form_for @uri || Uri.new do |f| %>
						  <%= f.error_messages %>
						  <%= f.text_field :uri, :class=>"input_text" %>
						  <%= f.submit 'Go!',:class=>"input_text_button" %>
						<% end -%>
            <span>Check yours!</span>
				</div>
      </div>
