<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
  <%= stylesheet_link_tag "style", :media => "screen, projection" %>
  <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
	<%= stylesheet_link_tag "galleryview", :media => "screen, projection" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
  <![endif]-->
  <%= javascript_include_tag 'jquery','jquery.easing','jquery.timers','jquery.galleryview' %>
	<script type="text/javascript">
		$(document).ready(function() {
		<%= yield :javascript %>		
		});
  </script>
	
  <title>OpenID Observatory</title>

  </head>
  <body>
  	
		<div id="header_wrapper" class="clear clearfix">
	    <div class="black_bar">
	      <div id="header" class="container">
	        <span id="header_logo"></span>
	        <div class="web_title prepend-3dot5">
	        	<div class="total_checked"><span><%= Uri.count %></span> OpenID's already checked</div>
	          <a href="http://irss.dit.upm.es/openid-observatory">OpenID Observatory</a>
	        </div>
	      </div>    
	    </div>
	  </div>
		
	  <!--<div id="content" class="prepend-1 span-22 append-1 last">-->
		<div id="content_wrapper" class="showgrid">
	    <div id="content" class="container">
	      <%= yield %>
	    </div>
		</div>

	  <div id="footer_wrapper"> 
	    <div id="footer" class="container">
	      <ul class="footer_left">
	        <p class="share">Share:</p>
          <li><%= link_to image_tag("delicious.png", :size =>"32x32",:title=>"delicious"), "http://del.icio.us/post?url=#{ CGI.escape(root_url) }&title=#{ CGI.escape('OpenID Observatory') }" %></li>
          <li><%= link_to image_tag("blogger.png", :size =>"32x32",:title=>"blogger"), "http://www.blogger.com/blog_this.pyra?u=#{ CGI.escape(root_url) }&n=#{ CGI.escape('OpenID Observatory') }" %></li>
          <li><%= link_to image_tag("twitter.png", :size =>"32x32",:title=>"twitter"), "http://twitter.com/home?status=#{ CGI.escape('OpenID Observatory: http://bit.ly/9Gk8Ag') }" %></li>
          <li><%= link_to image_tag("google.png", :size =>"32x32",:title=>"google"), "http://www.google.com/bookmarks/mark?op=add&bkmk=#{ CGI.escape(root_url) }&title=#{ CGI.escape('OpenID Observatory') }" %></li>
          <li><%= link_to image_tag("facebook.png", :size =>"32x32",:title=>"facebook"), "http://www.facebook.com/sharer.php?u=#{ CGI.escape(root_url) }" %></li>
          <li><%= link_to image_tag("linkedin.png", :size =>"32x32",:title=>"linkedin"), "http://www.linkedin.com/shareArticle?mini=true&url=#{ CGI.escape(root_url) }&title=#{ CGI.escape('OpenID Observatory') }" %></li>
          <li><%= link_to image_tag("digg.png", :size =>"32x32",:title=>"digg"), "http://digg.com/submit?phase=2&url=#{ CGI.escape(root_url) }&title=#{ CGI.escape('OpenID Observatory') }" %></li>
        </ul>
        <ul class="footer_center">
          <p><%= link_to 'Contact with us!', "#" %></p>
					<div class="contact" style="display:none">
						<!--Aqui va un campo para escribir y un boton -->
					</div>
        </ul>
				<ul class="footer_right">
          <p class="share">Supported by:</p>
          <li><%= link_to image_tag("Logo_dit-upm.gif",:size=>"92x92",:title=>"DIT-UPM"), "http://www.dit.upm.es" %></li>
          <li><%= link_to image_tag("upm.png",:title=>"UPM"), "http://www.upm.es" %></li>
        </ul>

	    </div>
	  </div>	
		
  </body>
</html>
