<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		
		<%= stylesheet_link_tag "screen", :media => "screen, projection" %>
		<%= stylesheet_link_tag "style", :media => "screen, projection" %>
		<%= stylesheet_link_tag "galleryview", :media => "screen, projection" %>
	  <%= stylesheet_link_tag "print", :media => "print" %>
	  <!--[if IE]>
	    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
	  <![endif]-->
		
	  <%= javascript_include_tag 'jquery','jquery.easing','jquery.timers','jquery.galleryview' %>
		<script type="text/javascript">
			$(document).ready(function() {
			  $('#feedback_link').click(function(){
	        $(this).hide(),
	        $('#footer_center').css("background","none"),
	        $('#feedback_form').slideDown('slow')
	      });
				$('#feedback_cancel').click(function(){
	        $('#feedback_form').hide(),
	        $('#footer_center').css("background","transparent url('../images/panel.png') no-repeat center center"),
	        $('#feedback_form input[type="text"]').val(""),
					$('#feedback_form textarea').val(""),
					$('#feedback_link').show()
	      });
				<%= yield :javascript %>	
			});
	  </script>
		
	  <title>OpenID Observatory</title>

  </head>
	
  <body>
  	
		<div id="header_wrapper" class="clear clearfix">
	    <div class="black_bar">
	      <div id="header" class="container">
	        <span id="header_logo"></span>
	        <div class="web_title prepend-3dot5">
	        	<%= yield :item_on_header %>
            <%= link_to "OpenID Observatory", root_path %>
	        </div>
	      </div>    
	    </div>
	  </div>
		
	  <!--<div id="content" class="prepend-1 span-22 append-1 last">-->
		<div id="content_wrapper">
	    <div id="content" class="container">
	      <%= yield %>
	    </div>
		</div>

	  <div id="footer_wrapper"> 
	    <div id="footer" class="container">
	      <ul id="footer_left">
	        <p class="share">Share:</p>
          <li><%= link_to image_tag("delicious.png", :size =>"32x32",:title=>"delicious"), "http://del.icio.us/post?url=#{ CGI.escape(root_url) }&title=#{ CGI.escape('OpenID Observatory') }" %></li>
          <li><%= link_to image_tag("blogger.png", :size =>"32x32",:title=>"blogger"), "http://www.blogger.com/blog_this.pyra?u=#{ CGI.escape(root_url) }&n=#{ CGI.escape('OpenID Observatory') }" %></li>
          <li><%= link_to image_tag("twitter.png", :size =>"32x32",:title=>"twitter"), "http://twitter.com/home?status=#{ CGI.escape('OpenID Observatory: http://bit.ly/bLMJdM') }" %></li>
          <li><%= link_to image_tag("google.png", :size =>"32x32",:title=>"google"), "http://www.google.com/bookmarks/mark?op=add&bkmk=#{ CGI.escape(root_url) }&title=#{ CGI.escape('OpenID Observatory') }" %></li>
          <li><%= link_to image_tag("facebook.png", :size =>"32x32",:title=>"facebook"), "http://www.facebook.com/sharer.php?u=#{ CGI.escape(root_url) }" %></li>
          <li><%= link_to image_tag("linkedin.png", :size =>"32x32",:title=>"linkedin"), "http://www.linkedin.com/shareArticle?mini=true&url=#{ CGI.escape(root_url) }&title=#{ CGI.escape('OpenID Observatory') }" %></li>
          <li><%= link_to image_tag("digg.png", :size =>"32x32",:title=>"digg"), "http://digg.com/submit?phase=2&url=#{ CGI.escape(root_url) }&title=#{ CGI.escape('OpenID Observatory') }" %></li>
        </ul>

				<ul id="footer_center">  
          <%= render :partial => 'layouts/feedback' %>
        </ul>
				<ul id="footer_right">
          <p class="share">Supported by:</p>
          <li><%= link_to image_tag("Logo_dit-upm.gif",:size=>"92x92",:title=>"DIT-UPM"), "http://www.dit.upm.es" %></li>
          <li><%= link_to image_tag("upm.png",:title=>"UPM"), "http://www.upm.es" %></li>
        </ul>
        <div id="copyright" class="span-24 last">
        	<p>
        		<%= link_to 'Copyright', 'http://creativecommons.org/licenses/by-sa/2.5/' %> &copy; 2010 
						<%=link_to "Antonio Tapiador","http://irss.dit.upm.es/users/atd"%>
						 and <span>Antonio Mendo</span> - 
						 <%= link_to 'Source code', 'http://github.com/atd/openid-observatory' %>
						  - Icons by <%=link_to "ahmad-hania","http://ahmad-hania.wateentech.com/"%> and <%=link_to "TheG-Force","http://theg-force.deviantart.com/art/Social-Icons-hand-drawned-109467069"%>
					</p>
			  </div>
	    </div>
	  </div>	
		
  </body>
</html>
