<% content_for :item_on_header do %>
  <%=render :partial=> "stats/submit_uri"%>
<% end %>


<%= notification_area %>

<h1>Results</h1>

<p>
<strong>Total</strong>
<%= Uri.count %>
</p>

<h2>OpenID</h2>

<% graphs.each do |graph| %>

  <h3><%= graph[:title] %></h3>

  <%= image_tag graph[:image] %>

  <%= graph[:details] %>

<% end %>


<h2>URIs detailed information</h2>

<div class="span-22 last">
  <div class="span-8">
    OpenID
  </div>
  <div class="span-2">
    FoaF?
  </div>
  <div class="span-2">
    RSS feeds?
  </div>
  <div class="span-2">
    Atom feeds?
  </div>
  <div class="span-2">
    AtomPub Service?
  </div>
  <div class="span-2">
    RSD?
  </div>
  <div class="span-2">
    Microformats?
  </div>
</div>


<% Uri.all(:include => :uri_property).each do |uri| %>
<% div_for uri, :class => 'span-22 last' do %>
<div class="span-8">
<%= link_to uri.to_s, uri.to_s %>
</div>
<div class="span-2">
  <%= uri.uri_property.foaf.nil? ? "N/A" : uri.uri_property.foaf %>
</div>
<div class="span-2">
  <%= uri.uri_property.rss.nil? ? "N/A" : uri.uri_property.rss %>
</div>
<div class="span-2">
  <%= uri.uri_property.atom.nil? ? "N/A" : uri.uri_property.atom %>
</div>
<div class="span-2">
  <%= uri.uri_property.atompub.nil? ? "N/A" : uri.uri_property.atompub %>
</div>
<div class="span-2">
  <%= uri.uri_property.rsd.nil? ? "N/A" : uri.uri_property.rsd %>
</div>
<div class="span-2">
  <%= uri.uri_property.microformats %>
</div>
<div class="clear">
  <%= uri.uri_property.xrds_service_types.try(:join, ", ") %>
</div>
<% end %>
<% end %>
