<% 
results = {
  "FoaF" => Uri.foaf(true).count * 100.0 / Uri.count,
  "Atom" => Uri.atom(true).count * 100.0 / Uri.count,
  "RSS" => Uri.rss(true).count * 100.0 / Uri.count,
  "RSD" => Uri.rsd(true).count * 100.0 / Uri.count,
  "Microformats" => Uri.microformats("_").count * 100.0 / Uri.count,
  "AtomPub" => Uri.atompub(true).count * 100.0 / Uri.count,
  "XRDS" => Uri.xrds_service_type("http").count * 100.0 / Uri.count
}
%>


      <div id="left" class="span-10">
        <h1 class="type">Explore now all</h1>
        <h1 class="type">the information</h1>
        <h1 class="type">associated to your</h1>
        <h1 class="type"><img src="../images/openid_logo.png" alt="OpenID"/></h1>
      </div>
  
      <div id="right" class="span-14 last">
        <div class="total_checked"><span><%= Uri.count %> OpenID's already checked</span></div>
        <div class="charts_wrapper">
          <%= image_tag Gchart.bar(:title => "Meta Technologies",
                         :data => results.values,
                         :axis_with_labels => "x,y",
                         :axis_labels => [ results.keys, (0..4).map{ |n| n * 25 } ],
                         :max_value => 100,
                         :bar_width_and_spacing => { :width => 50, :spacing => 23 },
                         :size => '540x200')
          %>
        </div>
      </div>
      
      <div id="down" class="span-24 last">
				<%= notification_area %>
				<div class="fancy_input">

						<% form_for @uri || Uri.new do |f| %>
						  <%= f.error_messages %>
						  <%= f.text_field :uri %>
						  <%= f.submit 'Go! >>' %>
						<% end -%>

				</div>
      </div>



<!--<h1>Check yours</h1>

<%= notification_area %>

<p>
<% form_for @uri || Uri.new do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :uri %>
  <%= f.submit 'Go! >>' %>
<% end -%>
</p>

<h1>Results</h1>

<p>
<strong>Total</strong>
<%= Uri.count %>
</p>-->

<!--
<% 
results = {
  "FoaF" => Uri.foaf(true).count * 100.0 / Uri.count,
  "Atom" => Uri.atom(true).count * 100.0 / Uri.count,
  "RSS" => Uri.rss(true).count * 100.0 / Uri.count,
  "RSD" => Uri.rsd(true).count * 100.0 / Uri.count,
  "Microformats" => Uri.microformats("_").count * 100.0 / Uri.count,
  "AtomPub" => Uri.atompub(true).count * 100.0 / Uri.count,
  "XRDS" => Uri.xrds_service_type("http").count * 100.0 / Uri.count
}
%>
-->

<%= image_tag Gchart.bar(:title => "Meta Technologies",
                         :data => results.values,
                         :axis_with_labels => "x,y",
                         :axis_labels => [ results.keys, (0..4).map{ |n| n * 25 } ],
                         :max_value => 100,
                         :bar_width_and_spacing => { :width => 50, :spacing => 30 },
                         :size => '600x200')
%>

<p>
<strong>FoaF</strong>
Yes <%= "%0.2f" % (Uri.foaf(true).count * 100.0 / Uri.count) %>%
No <%= "%0.2f" % (Uri.foaf(false).count * 100.0 / Uri.count) %>%
N/A <%= "%0.2f" % (Uri.foaf(nil).count * 100.0 / Uri.count) %>%
</p>

<p>
<strong>RSS</strong>
Yes <%= "%0.2f" % (Uri.rss(true).count * 100.0 / Uri.count) %>%
No <%= "%0.2f" % (Uri.rss(false).count * 100.0 / Uri.count) %>%
N/A <%= "%0.2f" % (Uri.rss(nil).count * 100.0 / Uri.count) %>%
</p>

<p>
<strong>Atom</strong>
Yes <%= "%0.2f" % (Uri.atom(true).count * 100.0 / Uri.count) %>%
No <%= "%0.2f" % (Uri.atom(false).count * 100.0 / Uri.count) %>%
N/A <%= "%0.2f" % (Uri.atom(nil).count * 100.0 / Uri.count) %>%
</p>


<p>
<strong>AtomPub Service Document</strong>
Yes <%= "%0.2f" % (Uri.atompub(true).count * 100.0 / Uri.count) %>%
No <%= "%0.2f" % (Uri.atompub(false).count * 100.0 / Uri.count) %>%
N/A <%= "%0.2f" % (Uri.atompub(nil).count * 100.0 / Uri.count) %>%
</p>

<p>
<strong>Really Simple Discovery (RSD)</strong>
Yes <%= "%0.2f" % (Uri.rsd(true).count * 100.0 / Uri.count) %>%
No <%= "%0.2f" % (Uri.rsd(false).count * 100.0 / Uri.count) %>%
N/A <%= "%0.2f" % (Uri.rsd(nil).count * 100.0 / Uri.count) %>%
</p>

<p>
<strong>eXtensible Resource Descriptor Sequence (XRDS)</strong>
Yes <%= "%0.2f" % (Uri.xrds_service_type("http").count * 100.0 / Uri.count) %>%
No <%= "%0.2f" % (Uri.xrds_service_type("[]").count * 100.0 / Uri.count) %>%
</p>

<p>
<strong>Microformats</strong>
Yes <%= "%0.2f" % (Uri.microformats("_").count * 100.0 / Uri.count) %>%
No <%= "%0.2f" % (Uri.microformats("").count * 100.0 / Uri.count) %>%
N/A <%= "%0.2f" % (Uri.microformats(nil).count * 100.0 / Uri.count) %>%
</p>

<% 
microformats = Uri::Microformats.inject({}) do |hash, m| 
                 hash[m] = (Uri.microformats(m).count * 100.0 / Uri.count)
                 hash
               end
%>


<%= image_tag Gchart.bar(:title => "Microformats",
                         :data => microformats.values,
                         :axis_with_labels => "x,y",
                         :axis_labels => [ microformats.keys, (0..4).map{ |n| n * 25 } ],
                         :max_value => 100,
                         :bar_width_and_spacing => { :width => 50, :spacing => 20 },
                         :size => '700x200')
%>



<% Uri::Microformats.each do |m| %>
<p>
<strong><%= m %></strong>: <%= "%0.2f" % (Uri.microformats(m).count * 100.0 / Uri.count) %>%
</p>
<% end %>


<div class="span-22 last">
  <div class="span-8">
    OpenID
  </div>
  <div class="span-2">
    FoaF?
  </div>
  <div class="span-2">
    RSS feeds?
  </div>
  <div class="span-2">
    Atom feeds?
  </div>
  <div class="span-2">
    AtomPub Service?
  </div>
  <div class="span-2">
    RSD?
  </div>
  <div class="span-2">
    Microformats?
  </div>
</div>


<% Uri.all(:include => :uri_property).each do |uri| %>
<% div_for uri, :class => 'span-22 last' do %>
<div class="span-8">
<%= link_to uri.to_s, uri.to_s %>
</div>
<div class="span-2">
  <%= uri.uri_property.foaf.nil? ? "N/A" : uri.uri_property.foaf %>
</div>
<div class="span-2">
  <%= uri.uri_property.rss.nil? ? "N/A" : uri.uri_property.rss %>
</div>
<div class="span-2">
  <%= uri.uri_property.atom.nil? ? "N/A" : uri.uri_property.atom %>
</div>
<div class="span-2">
  <%= uri.uri_property.atompub.nil? ? "N/A" : uri.uri_property.atompub %>
</div>
<div class="span-2">
  <%= uri.uri_property.rsd.nil? ? "N/A" : uri.uri_property.rsd %>
</div>
<div class="span-2">
  <%= uri.uri_property.microformats %>
</div>
<div class="clear">
  <%= uri.uri_property.xrds_service_types.try(:join, ", ") %>
</div>
<% end %>
<% end %>
