<% content_for :item_on_header do %>
  <%=render :partial=> "new"%>
<% end %>

<div id="results" class="left span-23 last">
  <%= notification_area %>
  
	<!-- OpenID -->
	<div class="span-23 last">  
		<div class="results_title left span-14 ">
	    <h2>Results for OpenID: <span><%= link_to h(uri.uri), h(uri.uri) %></span></h2>	
	  </div>
  </div>

  <!-- OpenID Provider -->
  <div class="span-23 last">  
    <div class="left span-6 ">
      <h2>OpenID Provider</h2>
    </div>
    <div class="right span-12 last">
      <div class="provider">
      	<%= uri.uri_property.openid_providers.map{ |p| link_to h(p), h(p) }.join(", ") %>
			</div>
    </div>
  </div>

  <!-- OpenID Discovery -->
	<div class="span-23 last">  
    <div class="left span-6 ">
      <h2>OpenID Discovery</h2>
    </div>
    <div class="right span-17 last">
      <div class="version span-12 last">
        <div class="row span-12 last title"><ul>
          <li></li>
					<li class="middle">Version 1.0, 1.1</li>
          <li>Version 2.0</li>
      	</ul></div>
				<div class="row middle span-12 last">
					<ul>
	          <li class="title">HTML</li>
	          <li class="middle">
	          	<% if uri.html_discovery?(1) %>
							  <%=image_tag("icons/tick.png",:size=>"16x16",:alt=>"Yes")%>
							<%else%>
							  <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
							<%end%>
						</li>
	          <li>
	            <% if uri.html_discovery?(2) %>
                <%=image_tag("icons/tick.png",:size=>"16x16",:alt=>"Yes")%>
              <%else%>
                <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
              <%end%>
						</li>	          
	      	</ul>
				</div>
				<div class="row middle span-12 last">
					<ul>
					  <li class="title">YADIS</li>
            <li class="middle">
            	<% if uri.xrds_discovery?(1) %>
							  <%=image_tag("icons/tick.png",:size=>"16x16",:alt=>"Yes")%>
							<%else%>
							  <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
							<%end%>
						</li>
            <li>
            	<% if uri.xrds_discovery?(2) %>
							  <%=image_tag("icons/tick.png",:size=>"16x16",:alt=>"Yes")%>
							<%else%>
							  <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
							<%end%>
            </li>          
				  </ul>
				</div>
      </div>
    </div>
  </div>

  <!-- Web standards -->
	<div class="span-23 last">  
    <div class="left span-6 ">
      <h2>Web standards</h2>
    </div>
    <div class="right span-17 last">
      <div class="standards span-16 last">
        <div class="row span-16 last">
        	<ul>
        		<li class="title"><%=image_tag("icons/foaf.png")%> Foaf*</li>
						<li class="end">
              <%if h uri.uri_property.foaf?%>
                <%=image_tag('icons/tick.png',:size=>'16x16',:alt=>'Yes')%>
              <%else%>
                <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
              <%end%>
						</li>
        	</ul>
        </div>
				<div class="row middle span-16 last">
          <ul>
            <li class="title"><%=image_tag("icons/feed.png")%> Feeds</li>
            <li class="end">
              <%if uri.uri_property.atom? || uri.uri_property.rss?%>
                <%=image_tag('icons/tick.png',:size=>'16x16',:alt=>'Yes')%>
                <%= "Atom" if uri.uri_property.atom? %>
                <%= "RSS" if uri.uri_property.rss? %>
              <%else%>
                <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
              <%end%>
            </li>
          </ul>					
				</div>
				<div class="row middle span-16 last">
          <ul>
            <li class="title"><%=image_tag("icons/microformats.png")%> Microformats</li>
            <li class="end">
              <%if h uri.uri_property.microformats.any?%>
                <%=image_tag('icons/tick.png',:size=>'16x16',:alt=>'Yes')%>
                <%=h uri.uri_property.microformats%>             
              <%else%>
                <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
              <%end%>           	
            </li>
          </ul>					
				</div>
				<div class="row middle span-16 last">
          <ul>
            <li class="title">RSD*</li>
            <li class="end">
              <%if h uri.uri_property.rsd?%>
                <%=image_tag('icons/tick.png',:size=>'16x16',:alt=>'Yes')%>
              <%else%>
                <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
              <%end%>            	
            </li>
          </ul>					
				</div>
				<div class="row middle span-16 last">
          <ul>
            <li class="title">XRSD*</li>
            <li class="end">
              <%if h uri.uri_property.xrds_service_types.any?%>
                <%=image_tag('icons/tick.png',:size=>'16x16',:alt=>'Yes')%>
                <%=h uri.uri_property.xrds_service_types.join(", ") %>
              <%else%>
                <%=image_tag("icons/cross.png",:size=>"16x16",:alt=>"No")%>
              <%end%>            	
            </li>
          </ul>					
				</div>	
			</div>
			<p class="nota_al_pie">* Foaf: Friend of a friend; RSD: Really Simple Discovery; XRDS: eXtensible Resource Descriptor Sequence</p>
			
    </div>
  </div>
	
</div>

