<p>
<strong>OpenID</strong> <%= link_to h(uri.uri), h(uri.uri) %>
</p>

<p>
<strong>FoaF</strong> <%=h uri.uri_property.foaf? %>
</p>

<p>
<strong>Atom/RSS feeds</strong>
<%= "Atom" if uri.uri_property.atom? %>
<%= "RSS" if uri.uri_property.rss? %>
<%= "None" unless uri.uri_property.atom? || uri.uri_property.rss? %>
</p>

<p>
<strong>Microformats</strong> <%=h uri.uri_property.microformats %>
</p>

